@page

@model tbkk_AC.Pages.Assets.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <div class="dataTable_length">
                        <i class="fas fa-table" style="margin-top:1%"> Asset</i>
                        <div style="float: right">
                            <a asp-page="Create">
                                <button type="button" class="btn btn-outline-info">
                                    Create
                                </button>
                            </a>
                            <!--<a class="btn btn-info" asp-page="Create">Create New</a>-->
                            <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Import data</button>
                            <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Search data</button>
                        </div>
                    </div>

                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="collapse multi-collapse" id="multiCollapseExample2" style="margin-top:1%;margin-left:auto">
                        <div class="card card-body" style="margin-left:70%">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fUpload" name="Excel" onchange="run()">
                                    <label class="custom-file-label" for="fUpload" id="ff"></label>
                                </div>
                                <div class="input-group-append">
                                    <input class="btn btn-outline-info" value="Upload" type="submit" asp-page-handler="Import" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form>
                    <div class="collapse multi-collapse" id="multiCollapseExample3" style="">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-0 col-form-label"> PO Number</label>
                                            <input class="form-control form-control-sm" placeholder="PO Number" id="PONumber" asp-for="PONumber" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-0 col-form-label">Supplier</label>
                                            <select class="form-control form-control-sm" id="Supplier" asp-for="SupplierID">
                                                <option selected value=@null>Plase select</option>
                                                @foreach (var item in Model.Supplier)
                                                {
                                                    if (!item.Status.Equals("Unused"))
                                                    {
                                                        <option value=@item.SupplierID>@Html.DisplayFor(modelItem => item.SupplierName)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-0 col-form-label">Category</label>
                                            <select class="form-control form-control-sm" id="Category" asp-for="CategoryID">
                                                <option selected value=@null>Plase select</option>
                                                @foreach (var item in Model.Category)
                                                {
                                                    if (!item.Status.Equals("Unused"))
                                                    {
                                                        <option value=@item.CategoryID>@Html.DisplayFor(modelItem => item.CategoryName)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-0 col-form-label">Location</label>
                                            <select class="form-control form-control-sm" id="Location" asp-for="LocationID">
                                                <option selected value=@null>Plase select</option>
                                                @foreach (var item in Model.Location)
                                                {
                                                    if (!item.Status.Equals("Unused"))
                                                    {
                                                        <option value=@item.LocationID>@Html.DisplayFor(modelItem => item.LocationName)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-0 col-form-label">Department</label>
                                            <select class="form-control form-control-sm" id="Department" asp-for="DepartmentID">
                                                <option selected value=@null>Plase select</option>
                                                @foreach (var item in Model.Department)
                                                {
                                                    if (!item.Status.Equals("Unused"))
                                                    {
                                                        <option value=@item.DepartmentID>@Html.DisplayFor(modelItem => item.DepartmentName)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-0 col-form-label">Company</label>
                                            <select class="form-control form-control-sm" id="Company" asp-for="CompanyID">
                                                <option selected value=@null>Plase select</option>
                                                @foreach (var item in Model.Company)
                                                {
                                                    if (!item.Status.Equals("Unused"))
                                                    {
                                                        <option value=@item.CompanyID>@Html.DisplayFor(modelItem => item.CompanyName)</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <label class="col-sm-0 col-form-label">Status</label>
                                            <select class="form-control form-control-sm" id="Status" asp-for="Status">
                                                <option selected value=@null>Plase select</option>
                                                <option value="Using">Using</option>
                                                <option value="InStock">InStock</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div style="float: right;margin-bottom:1% ">
                                <button type="submit" class="btn btn-outline-success">
                                    Search
                                </button>

                                <button class="btn btn-outline-warning" type="button" onclick="clear1()">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>


                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="3" style="font-size:small">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].AssetName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].PONumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].Category)
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Supplier
                                    </th>
                                    <th>
                                        Company
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.Asset[0].Status)
                                    </th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Asset)
                                {
                                    if (!item.Status.Equals("Unused"))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssetName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PONumber)
                                            </td>

                                            <td>
                                                @foreach (var item1 in Model.Category)
                                                {
                                                    if (item.Category == item1.CategoryID)
                                                    {
                                                        @Html.DisplayFor(modelItem => item1.CategoryName)
                                                    }
                                                }
                                            </td>

                                            <td>
                                                @foreach (var item1 in Model.Department)
                                                {
                                                    if (item.Department_DepartmentID == item1.DepartmentID)
                                                    {
                                                        @Html.DisplayFor(modelItem => item1.DepartmentName)
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @foreach (var item1 in Model.Supplier)
                                                {
                                                    if (item.Supplier_SupplierID == item1.SupplierID)
                                                    {
                                                        @Html.DisplayFor(modelItem => item1.SupplierName)
                                                    }
                                                }
                                            </td>
                                            <td>
                                                @foreach (var item1 in Model.Company)
                                                {
                                                    if (item.Company_CompanyID == item1.CompanyID)
                                                    {
                                                        @foreach (var item2 in Model.Location)
                                                        {
                                                            if (item.Location_LocationID == item2.LocationID)
                                                            {
                                                                @Html.DisplayFor(modelItem => item2.LocationName)<text>/</text>@Html.DisplayFor(modelItem => item1.CompanyName)
                                                            }
                                                        }

                                                    }
                                                }
                                            </td>



                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>

                                            <td width="20%">
                                                <a asp-page="./Details" asp-route-id="@item.AssetID">
                                                    <button type="button" class="btn btn-outline-primary">
                                                        Deatail
                                                    </button>
                                                </a>
                                                <a asp-page="./Edit" asp-route-id="@item.AssetID">
                                                    <button type="button" class="btn btn-outline-warning">
                                                        Edit

                                                    </button>
                                                </a>
                                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="Delete(@item.AssetID)">Delete</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<form method="post" enctype="multipart/form-data">
    <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <input asp-for="Deletid" />
                <div class="modal-footer">
                    <input style="margin-left:10px" type="submit" asp-page-handler="Delete" class="btn btn-outline-danger" value="Delete"/>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
     function Delete(id) {
        document.getElementById("Deletid").value = id
    }
    function run1() {
        document.getElementById("pho2").value = document.getElementById("pho1").value
    }
    function run() {
        document.getElementById("ff").innerHTML = document.getElementById("fUpload").value
    } function clear1() {

        document.getElementById("Supplier").selectedIndex = "0";
        document.getElementById("PONumber").value = "";
        document.getElementById("Company").selectedIndex = "0";
        document.getElementById("Status").selectedIndex = "0";
        document.getElementById("Department").selectedIndex = "0";
        document.getElementById("Location").selectedIndex = "0";
        document.getElementById("Category").selectedIndex = "0";
    }
</script>
