@page
@model tbkk_AC.Pages.Networks.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Network Detail</h2>
            <div class=" col-md-12 col-lg-12 ">
                <div class="card " style="margin-top:1%">
                    <div class="card-header" style="font-weight:bold;color:darkblue;">
                        Detail
                    </div>
                    <div class="card-body">
                        <table class="table table-user-information" style="margin-top:-21%;margin-bottom:-6%">
                            <tbody>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.NetworkID)</td>
                                                <td>: @Html.DisplayFor(model => model.Network.NetworkID)</td>
                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.NetworkName)</td>
                                                <td>: @Html.DisplayFor(model => model.Network.NetworkName)</td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.IpAddr)</td>
                                                <td>: @Html.DisplayFor(model => model.Network.IpAddr)</td>

                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.Password)</td>
                                                <td>: @Html.DisplayFor(model => model.Network.Password)</td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.Status)</td>
                                                <td>: @Html.DisplayFor(model => model.Network.Status)</td>

                                            </div>
                                            <div class="col">
                                                <td>@Html.DisplayNameFor(model => model.Network.Note) :</td>
                                                <td>
                                                    <div class="form-group">
                                                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="5" cols='20'>@Html.DisplayFor(model => model.Network.Note)</textarea>
                                                    </div>
                                                </td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <td></td>
                                                <td></td>

                                            </div>
                                            <div class="col">
                                                <td></td>
                                                <td></td>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:2%;margin-left:1.5%">
        <a asp-page="./Index">
            <button type="button" class="btn btn-outline-secondary">
                Back
            </button>
        </a>
        <a asp-page="./Edit" asp-route-id="@Model.Network.NetworkID">
            <button type="button" class="btn btn-outline-warning">
                Edit
            </button>
        </a>
    </div>
    <div class="card " style="margin-top:2%">
        <div class="card-header">
            <i class="fas fa-table" style="margin-top:1%"> Asset</i>
            <div style="float: right">
                <div class="btn-group">
                    <a asp-page="../JoinNetwork_Assets/Create" asp-route-id="@Model.Network.NetworkID" asp-route-num="2">
                        <button type="button" class="btn btn-outline-success">
                            Join
                        </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Join</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">History Update</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="3">
                                <thead>
                                    <tr>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            NetworkName
                                        </th>
                                        <th>
                                            Asset
                                        </th>

                                        
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Join_Network_Asset)
                                    {
                                        if (Model.Network.NetworkID == item.Network_NetworkID)
                                        {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Network.NetworkName)
                                        </td>
                                        <td>
                                            @foreach (var item1 in Model.Asset)
                                            {
                                                if (item.Asset_AssetID == item1.AssetID)
                                                {
                                                    <a asp-page="../Assets/Details" asp-route-id="@item1.AssetID">
                                                        @Html.DisplayFor(modelItem => item1.AssetName)
                                                    </a>
                                                }
                                            }
                                        </td>

                                        <td width="19%">
                                            @if (item.Status.Equals("Join"))
                                            {
                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteNetModal" onclick="Delete(@item.JoinNetAsID)">Delete</button>
                                            }
                                            else
                                            {
                                                <text>-</text>
                                            }
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="3">
                                <thead>
                                    <tr>
                                        <th>
                                            NetworkName
                                        </th>
                                        <th>
                                            User
                                        </th>

                                        <th>
                                            UpdateDate
                                        </th>
                                        <th>
                                            Details
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Update_Network)
                                    {
                                        if (Model.Network.NetworkID == item.Network_NetworkID)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(model => model.Network.NetworkName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => item.Employee_EmpID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Date)
                                                </td>
                                                <td width="100px">
                                                    <a asp-page="../UpdateNetworks/Details" asp-route-id="@item.NetworkUpdateID">
                                                        <button type="button" class="btn btn-outline-primary">
                                                            Deatail
                                                        </button>
                                                    </a>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="modal" tabindex="-1" role="dialog" id="deleteNetModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <input asp-for="DeletidNet" type="hidden"/>
                <div class="modal-footer">
                    <input style="margin-left:10px" type="submit" asp-page-handler="DeleteLi" class="btn btn-outline-danger" value="Delete" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    function Delete(id) {

        document.getElementById("DeletidNet").value = id

    }

</script>
