@page
@model tbkk_AC.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Asset Control</li>
            <li class="breadcrumb-item active">Department</li>

        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-table">Department</i>
                    <div style="float: right">
                        <a asp-page="Create">
                            <button type="button" class="btn btn-outline-info">
                                Create
                            </button>
                        </a>
                        <!--<a class="btn btn-info" asp-page="Create">Create New</a>-->
                        <button class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Import data</button>
                    </div>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data">
                <div class="collapse multi-collapse" id="multiCollapseExample2" style="margin-top:1%;margin-left:auto">
                    <div class="card card-body" style="margin-left:70%">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="fUpload" name="Excel" onchange="run()">
                                <label class="custom-file-label" for="fUpload" id="ff"></label>
                            </div>
                            <div class="input-group-append">
                                <input class="btn btn-outline-info" value="Upload" type="submit" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size:small">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department[0].DepartmentName)
                                </th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Department)
                            {
                                if (!item.Status.Equals("Unused"))
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                        </td>
                                        <td width="20%">
                                            <a asp-page="./Details" asp-route-id="@item.DepartmentID">

                                                <button type="button" class="btn btn-outline-primary">
                                                    Detail
                                                </button>
                                            </a>
                                            <a asp-page="./Edit" asp-route-id="@item.DepartmentID">
                                                <button type="button" class="btn btn-outline-warning">
                                                    Edit

                                                </button>
                                            </a>
                                            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" onclick="Delete(@item.DepartmentID)">Delete</button>
                                        </td>

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" enctype="multipart/form-data">
    <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <input asp-for="Deletid" />
                <div class="modal-footer">
                    <input style="margin-left:10px" type="submit" asp-page-handler="Delete" class="btn btn-outline-danger" value="Delete" />
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    function Delete(id) {
        document.getElementById("Deletid").value = id
    }
    function run() {
        document.getElementById("ff").innerHTML = document.getElementById("fUpload").value
    } 
</script>